*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.bg{
background:url("assets/Picture-2.jpg");
background-size:cover;
height:100vh;
position:fixed;
width:100%;
z-index:-1;
filter:brightness(0.6);
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:rgba(0,0,0,0.7);
position:fixed;
width:100%;
top:0;
}

.logo img{height:50px;}

.menu{
display:flex;
gap:20px;
list-style:none;
align-items:center;
}

.menu a{
color:white;
text-decoration:none;
}

.login-btn{
padding:8px 16px;
background:gold;
border:none;
border-radius:5px;
cursor:pointer;
}

/* SECTIONS */
.section{
display:none;
padding-top:120px;
text-align:center;
color:white;
}

.section.active{
display:block;
}

/* CARD */
.card{
background:white;
width:350px;
margin:auto;
padding:25px;
border-radius:10px;
color:black;
}

/* INPUT */
.input-box{
display:flex;
align-items:center;
border:1px solid #ccc;
padding:10px;
margin:10px 0;
border-radius:6px;
}

.input-box i{
margin-right:10px;
}

/* BUTTON */
.btn{
width:100%;
padding:10px;
background:black;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

/* TEXT */
a{color:blue;cursor:pointer;}